<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="/loginE.css">
</head>
<body>
    <div class="page">
        <h1>Bem-vindo!</h1>
        <p>
            <a href="/views/login.ejs">Clique aqui para fazer login</a>
        </p>
        <p>
            <a href="/views/singUp.ejs">Clique aqui para registrar-se</a>
        </p>
    </div>
</body>
</html>
