<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se</title>
    <link rel="stylesheet" href="/loginE.css">
</head>
<body>
    <div class="page">
        <form method="POST" class="formLogin" action="/register">
            <h1>Registrar-se</h1>
            <p>Digite os seus dados de cadastro no campo abaixo.</p>
            <label for="NeS">Nome e Sobrenome</label>
            <input type="text" name="nome" placeholder="Digite seu nome e sobrenome" required />
            <label for="contact">Contato</label>
            <input type="text" name="contato" placeholder="Digite seu número" required />
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" required />
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha" required />
            <label for="confirm-senha">Confirme sua Senha</label>
            <input type="password" name="confirmSenha" placeholder="Confirmar senha" required />
            <p id="QAccount">Já possui conta? <a href="/">Login</a></p>
            <input type="submit" value="Registrar" class="btn" />
        </form>
    </div>
</body>
</html>
